<div class="fluid-container m-2">
<h2>Search For Participants</h2>

<div class="example-header" fxLayout="row">
  <input type="text" class="form-control mb-2 mt-2" (keyup)="applyFilter($event)" placeholder="Enter Participant Name or Handle">
  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field> -->
</div>
<!-- <div class="example-container fluid-container bg-light"> -->
  <div class="bg-light mat-elevation-z8 p-2 mt-3 mb-3">
        <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Halwa Jay">
        </mat-form-field> -->
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"  data-label="Name"> {{row.Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Hackerearth_Handle">
        <mat-header-cell *matHeaderCellDef mat-sort-header> HackerEarth Handle </mat-header-cell>
        <mat-cell *matCellDef="let row"  data-label="HackerEarth Handle"> <a href="{{row.Hackerearth_Url}}">{{row.Hackerearth_Handle}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Profile_Link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Profile_Url</mat-header-cell>
        <mat-cell *matCellDef="let row"  data-label="Profile Url"> <a class="btn btn-primary" href="{{row.Profile_Link}}">Go To Profile</a> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <!-- <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator> -->
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div>{{message}}</div>
<!-- </div> -->
</div>